/*  your css code here. If applicable */
.testimonials{
	background-color:#f5f5f5;
	padding:5px;
}
.Testimonial{
	padding:5px;
	border:1px black;
	background-color:white;
}
.author{
	text-align:right;
	font-style:italic;
}